#section-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    .contact{
        width: 90%;
        max-width: 600px;
        .input-group{
            margin-bottom: 30px;
            position: relative;
            .input-contact{
                width: 100%;
                padding: 10px;
                outline:0;
                border: 1px solid var(--secondary-color);
                color: var(--secondary-color);
                background: transparent;
                font-size: 15px;
            }
            .label-contact{
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                padding: 10px;
                color: var(--secondary-color);
                cursor: text;
                transition: 0.2s;
            }
            .input-contact:focus~.label-contact,
            .input-contact:valid~.label-contact,
            textarea:focus~label,
            textarea:valid~label{
                top: -35px;
                font-size: 14px;
            }
        }
        #send{
            padding: 10px 0;
            color: var(--secondary-color);
            outline: none;
            background: transparent;
            border: 1px solid var(--secondary-color);
            width: 100%;
            cursor: pointer;
        }
    
        
    }
}





